.list_container {
  max-width: 1216px;
  min-width: 320px;

  background-color: #eeeeee;
  margin-top: 80px;
  margin-bottom: 0;
  padding: 0;
}
.list_container::-webkit-scrollbar {
  width: 0;
}
.list {
  overflow: scroll;
  display: flex;
  max-width: 1216px;
  gap: 20px;
  justify-content: space-between;
  padding: 0 19px 0 19px;
  height: 65px;
}
.list::-webkit-scrollbar {
  width: 0;
}
.list_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}
.list_item:nth-child(3) {
  min-width: 121px;
}

.list_item:nth-child(4) {
  margin: 0;
}
.item_text {
  font-family: Jost;
  font-weight: 500;
  font-size: 20px;
  line-height: 115%;
  color: #3e424b;
  outline: none;
  border: none;
  padding-bottom: 10px;
  //min-width: 121px;

  &:hover {
    color: #bb8c5f;
  }
}

.active {
  border-bottom: 2px solid #bb8c5f;
  color: #bb8c5f;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 29px;
    left: -1px;
    width: 10px;
    height: 10px;
    background-color: #bb8c5f;
    transform: rotate(45deg);
  }

  &:after {
    content: '';
    position: absolute;
    top: 29px;
    right: -1px;
    width: 10px;
    height: 10px;
    background-color: #bb8c5f;
    transform: rotate(45deg);
  }
}
.tes {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cards_list_container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cards_list {
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  gap: 20px;
}

.card {
  width: 280px;
  background-color: #f5f5f5;
  padding-bottom: 30px;
  outline: none;
  border: none;
  text-decoration: none;
}

.cards_img {
  width: 280px;
  height: 228px;
}

.card_text_container {
  padding-top: 22px;
  padding-left: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 124px;
}

.card_title {
  font-family: Jost, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #3e424b;
  width: 229px;
  min-height: 48px;
}

.card_price {
  font-family: Jost, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #bb8c5f;
}

.buy_logic {
  padding-bottom: 30px;
  text-align: center;
  margin-top: 0;
}

.btn_style {
  width: 280px;
  margin: 115px auto 0 auto;
  padding: 0 17px 0 17px;
  height: 70px;
  background-color: #eeeeee;
  border: 2px solid #bb8c5f;
  color: #bb8c5f;
  position: relative;
  font-family: Jost, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;

  &:before {
    content: '';
    position: absolute;
    top: 26px;
    left: -17px;
    width: 18px;
    height: 18px;
    background: url('./../../../assets/svg/button/triangleWhitebg.svg') center
      center no-repeat;
  }

  &:after {
    content: '';
    position: absolute;
    top: 26px;
    right: -17px;
    width: 18px;
    height: 18px;
    transform: rotate(180deg);
    background: url('./../../../assets/svg/button/triangleWhitebg.svg') center
      center no-repeat;
  }
}

@media (min-width: 580px) {
  .cards_list {
    width: 580px;
    justify-content: left;
  }
}

@media (min-width: 880px) {
  .cards_list {
    width: 880px;
    justify-content: left;
  }
}

@media (min-width: 1180px) {
  .cards_list {
    width: 1180px;
    justify-content: left;
  }
}
