.desk_catalog__container {
  position: relative;
  padding: 5px 0 16px 0;

  &:hover .desk_header_catalogl_ist_container {
    display: block;
  }
}

.desk_catalog__btn {
  font-family: Jost;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  background: #050402;
  border: none;
  outline: none;
  color: #faf6f2;
  padding-right: 34px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desk__menu_icon {
  margin-left: 10px;
  margin-top: 4px;
}

.desk_header_catalogl_ist_container {
  display: none;
}
