.card_container {
   width: 100%;
   margin: 0 auto;
   background-color: #eeeeee;
}

.card_content {
   max-width: 714px;
   margin: 0 auto;
   padding-top: 30px;
   padding-bottom: 160px;
}

.row_top_logic {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
}

.card_title {
   font-family: 'Jost', sans-serif;
   font-weight: 700;
   font-size: 20px;
   line-height: 23px;
   color: #3e424b;
   margin: 0 auto 20px 20px;
   max-width: 343px;
}

.card_title_desk {
   display: none;
}

.description_first_container {
   padding: 0 20px 0 20px;
}
.description_first {
   font-family: 'Jost', sans-serif;
   font-weight: 400;
   font-size: 15px;
   line-height: 21px;
   color: #636b78;
   min-width: 280px;
   max-width: 343px;
   margin: 20px 0 0 0;
}
.add_goods_description {
   display: flex;
   flex-direction: column;
   padding: 5px;
}
.works_done_desk {
   display: none;
}

.works_done {
   font-family: 'Jost', sans-serif;
   font-weight: 400;
   font-size: 17px;
   line-height: 22px;
   color: #bb8c5f;
   text-decoration: none;
   border-bottom: 1px solid #bb8c5f;
   position: relative;

   &:before {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      background-color: #bb8c5f;
      transform: rotate(45deg);
      bottom: -3px;
      left: 0;
   }

   &:after {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      background-color: #bb8c5f;
      transform: rotate(45deg);
      bottom: -3px;
      right: 0;
   }
}

.price {
   font-family: 'Jost', sans-serif;
   font-weight: 700;
   font-size: 17px;
   line-height: 22px;
   color: #bb8c5f;
   margin-top: 30px;
}
.price_desk {
   display: none;
}
/////////Slider/////////////
.mobTabSlider {
   max-width: 343px;
   min-width: 320px;
   margin-bottom: 20px;
}
.slider_img {
   width: 320px;

   height: 243px;
}

.swiper_slide {
   background-color: #f5f5f5;
   margin-bottom: 20px;
   text-align: center;
}

.logic {
   display: flex;
   justify-content: space-between;
   padding: 0 15px;
}

.first_description {
   min-width: 280px;
   max-width: 343px;
   padding: 0 15px;
}

.btn_container {
   width: 310px;
}
.btn_container_desk {
   display: none;
}
.position_counter {
   margin: 20px 0px 0 0;
   display: flex;
}

.btn_style {
   display: flex;
   width: 280px;
   margin-top: 32px;
   margin-left: 15px;
   margin-right: 15px;
   height: 70px;
   background-color: #524336;
   border: 2px solid #bb8c5f;
   color: #faf6f2;
   position: relative;
   font-family: 'Jost', sans-serif;
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   justify-content: center;
   align-items: center;
   text-decoration: none;

   &:before {
      content: '';
      position: absolute;
      top: 26px;
      left: -17px;
      width: 18px;
      height: 18px;
      background: url('../../../assets/svg/button/triangle.svg') center center
         no-repeat;
   }

   &:after {
      content: '';
      position: absolute;
      top: 26px;
      right: -17px;
      width: 18px;
      height: 18px;
      transform: rotate(180deg);
      background: url('../../../assets/svg/button/triangle.svg') center center
         no-repeat;
   }
}

.about_good_cart_detail__desk {
   display: none;
}

@media (min-width: 370px) {
   .slider_img {
      width: 354px;

      height: 301px;
   }
}

@media (min-width: 710px) {
   .add_goods_description {
      padding: 0;
   }
}

@media (min-width: 768px) {
   .card_title {
      margin-left: 0;
   }

   .description_first {
      font-size: 17px;
      line-height: 24px;
   }
}

@media (min-width: 1920px) {
   .card_title {
      display: none;
   }

   .mobTabSlider {
      display: none;
   }

   .works_done {
      display: none;
   }

   .add_goods_description {
      display: flex;
      flex-direction: column;
      padding: 5px;
      width: 598px;
   }

   .works_done_desk {
      margin-top: 25px;
      display: inline-block;
      font-family: 'Jost', sans-serif;
      font-weight: 400;
      font-size: 17px;
      line-height: 22px;
      color: #bb8c5f;
      text-decoration: none;
      border-bottom: 1px solid #bb8c5f;
      position: relative;

      &:before {
         content: '';
         position: absolute;
         width: 5px;
         height: 5px;
         background-color: #bb8c5f;
         transform: rotate(45deg);
         bottom: -3px;
         left: 0;
      }

      &:after {
         content: '';
         position: absolute;
         width: 5px;
         height: 5px;
         background-color: #bb8c5f;
         transform: rotate(45deg);
         bottom: -3px;
         right: 0;
      }
   }

   .card_title_desk {
      display: block;
      font-family: 'Jost', sans-serif;
      font-weight: 700;
      font-size: 30px;
      line-height: 34px;
      color: #3e424b;
      margin: 0;
      max-width: 460px;
   }

   .price {
      display: none;
   }
   .price_desk {
      display: block;
      font-family: 'Jost', sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 31px;
      color: #bb8c5f;
      margin-top: 30px;
   }

   .description_first {
      width: 598px;
      max-width: 598px;
   }

   .logic {
      margin-top: 26px;
   }

   .btn_container {
      display: none;
   }

   .btn_style {
      margin: 0;
   }

   .btn_container_desk {
      display: block;
      margin: 0;
   }

   .about_good_cart_detail {
      display: none;
   }

   .about_good_cart_detail__desk {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
   }

   .description_title {
      font-family: 'Jost', sans-serif;
      font-weight: 700;
      font-size: 25px;
      line-height: 29px;
      color: #3e424b;
      margin-bottom: 20px;
   }

   .description_container {
      width: 515px;
   }
   .haracteristics_container {
      width: 598px;
   }
   .card_content {
      max-width: 1215px;

      padding-top: 50px;
      padding-bottom: 200px;
   }
}
