.btn_container {
  position: relative;
}

.btn {
  width: 100%;
  color: #faf6f2;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  position: relative;
  outline: none;
  border: none;
  cursor: pointer;
}
