.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  margin: 0 auto 45px auto;
}

.swiper-pagination-bullet {
  color: transparent;
  background-color: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid #524336;
  border-radius: 0;
}

.swiper-pagination-bullet-active {
  color: transparent;
  background-color: transparent;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    background-color: #bb8c5f;
  }
}

.swiper-button-next {
  display: none;
}

.swiper-button-prev {
  display: none;
}

@media (min-width: 1920px) {
  .mySwiper {
    //height: 700px;
    //width: 1568px;
    position: relative;
  }
  .swiper-wrapper {
    margin: 0 auto;
    position: relative;
  }
  .swiper-pagination {
    position: absolute;
    top: 42.5% !important;
    right: 12% !important;
  }

  .swiper-pagination-bullet {
    margin-bottom: 16px !important;
  }

  //.swiper-button-next {
  //  display: block;
  //
  //  position: absolute;
  //  top: 408px;
  //  right: 174px;
  //  width: 42px;
  //  height: 65px;
  //  background: url('./../../../assets/svg/button/desk-slider-btn.svg') center
  //    center no-repeat;
  //  transform: rotate(180deg);
  //
  //  &:after {
  //    display: none;
  //  }
  //}
  //
  //.swiper-button-prev {
  //  display: block;
  //
  //  position: absolute;
  //  top: 159px;
  //  right: 174px;
  //  left: auto;
  //  width: 42px;
  //  height: 65px;
  //  background: url('./../../../assets/svg/button/desk-slider-btn.svg') center
  //    center no-repeat;
  //
  //  &:after {
  //    display: none;
  //  }
  //}

  .product_preview_slider_btn_prev {
    background: url('./../../../assets/svg/button/desk-slider-btn.svg') center
      center no-repeat;
    width: 40px;
    height: 63px;
    position: absolute;
    top: 138px;
    right: 217px;
    z-index: 1;
    outline: none;
    border: none;
  }

  .product_preview_slider_btn_next {
    background: url('./../../../assets/svg/button/desk-slider-btn.svg') center
      center no-repeat;
    width: 40px;
    height: 63px;
    position: absolute;
    top: 385px;
    transform: rotate(180deg);
    right: 217px;
    z-index: 1;
    outline: none;
    border: none;
  }
}
