.swiper {
  width: 100%;
  height: 100%;
}

.swiper_pagination_product_slider {
  z-index: 1;
  position: absolute;
  left: auto !important;
  bottom: 45px !important;
  right: 314px !important;
  display: flex;
  justify-content: space-between;
  width: 140px !important;
  gap: 15px;
}

.swiper-bullets-product-slider {
  color: transparent;
  background-color: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid #524336;
  border-radius: 0;
}

.swiper-bullets-product-slider-active {
  color: transparent;
  background-color: transparent;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    background-color: #bb8c5f;
  }
}

.swiper-button-next {
  display: none;
}

.swiper-button-prev {
  display: none;
}

@media (min-width: 1920px) {
  .mySwiper {
    position: relative;
  }

  .swiper-wrapper {
    margin: 0 auto;
    position: relative;
  }

  .swiper_pagination_product_slider {
    z-index: 1;
    position: absolute;
    left: auto !important;
    bottom: 268px !important;
    right: 229px !important;
    flex-direction: column;
    justify-content: space-between;
    width: 16px !important;
    gap: 15px;
    top: auto !important;
    height: 140px;
  }

  //.swiper-button-next {
  //  display: block;
  //
  //  position: absolute;
  //  top: 408px;
  //  right: 174px;
  //  width: 42px;
  //  height: 65px;
  //  background: url('./../../../assets/svg/button/desk-slider-btn.svg') center
  //    center no-repeat;
  //  transform: rotate(180deg);
  //
  //  &:after {
  //    display: none;
  //  }
  //}
  //
  //.swiper-button-prev {
  //  display: block;
  //
  //  position: absolute;
  //  top: 159px;
  //  right: 174px;
  //  left: auto;
  //  width: 42px;
  //  height: 65px;
  //  background: url('./../../../assets/svg/button/desk-slider-btn.svg') center
  //    center no-repeat;
  //
  //  &:after {
  //    display: none;
  //  }
  //}

  .product_preview_slider_btn_prev {
    background: url('./../../../assets/svg/button/desk-slider-btn.svg') center
      center no-repeat;
    width: 40px;
    height: 63px;
    position: absolute;
    top: 138px;
    right: 217px;
    z-index: 1;
    outline: none;
    border: none;
  }

  .product_preview_slider_btn_next {
    background: url('./../../../assets/svg/button/desk-slider-btn.svg') center
      center no-repeat;
    width: 40px;
    height: 63px;
    position: absolute;
    top: 384px;
    transform: rotate(180deg);
    right: 217px;
    z-index: 1;
    outline: none;
    border: none;
  }
}
