@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Jost'),
    local('Jost'),
    url('src/assets/fonts/Jost-Regular400.woff2') format('woff2');
}

@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('Jost'),
    local('Jost'),
    url('src/assets/fonts/Jost-Medium500.woff2') format('woff2');
}

@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('Jost'),
    local('Jost'),
    url('src/assets/fonts/Jost-SemiBold600.woff2') format('woff2');
}

@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('Jost'),
    local('Jost'),
    url('src/assets/fonts/Jost-Bold700.woff2') format('woff2');
}

@font-face {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Forum'),
    local('Forum'),
    url('src/assets/fonts/Forum.woff2') format('woff2');
}

.main_wrap {
  width: 100%;
  margin: 0 auto;
}
